<!DOCTYPE html>
<html>
<head>
  <title>CarDealershipApp</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Welcome to Dan's AutoRoom</h1>
    <menu>
      <%= button_to 'Add New Car', new_car_path, method: :get ,class: 'btn btn-default btn-xs' %>
      <%= button_to 'Show All Cars', cars_path, method: :get ,class: 'btn btn-default btn-xs' %>
      <%= button_to 'Add New Engine', new_engine_path, method: :get ,class: 'btn btn-default btn-xs' %>
      <%= button_to 'Show All Engines', engines_path, method: :get ,class: 'btn btn-default btn-xs' %>
    </menu>
  </header>

  <main>
    <%= yield %>
  </main>

</body>
</html>
