<div class='list_vids'>
<h4>Edit your entry.</h4>

<% @movies.each do |movie| %>
<div>
<section id='new_vid'>
  <form action='/post/<%=  movie['id'] %>' method='post'>
    <input type='text' name='title' placeholder='Title' maxlength='100' value='<%= movie['title'] %>' autofocus required>
    <h6>Category:</h6>
    <select name='category' class='form-control'>
      <% @categories.each do |category| %>
      <option value='<%= category['name'] %>' <% if movie['category'] == category['name'] %>
          selected='selected'
        <% end %> ><%= category['name'] %></option>
      <% end %>
    </select>
    <br>
    <input type='url' name='url' placeholder='Your YouTube URL here.' maxlength='100' value='<%= movie['url'] %>' required>
    <br>
    <textarea name='description' class='description_input' placeholder='Description' rows=3  cols=20 maxlength='100' ><%= movie['description'] %></textarea>
    <br>
    <button class='btn btn-success'>Save</button>
  </form>
</section>
</div>
</div>
<% end %>


