<div class='categories_list'>
  <h4>Categories -</h4>
  <a href="/categories"><button class='btn btn-default'>Edit Categories</button></a>
  <% @categories.each do |category| %>
    <a href="/list/<%= category['name'] %>">
    <h5><%= category['name'] %></h5></a>
  <% end %>
    <a href="/">
    <h5>All</h5></a>
</div>

<div class='all_movies'>
  <% @all_movies.each do |movie| %>
  <div class='movie_port'>
    <div id='movie_info'>
      <h3><%= movie['title'].split.map(&:capitalize).join(' ') %></h3>

      <h6>Category: <%= movie['category'] %></h6>

      <iframe width="300" height="168.7" src="//www.youtube.com/embed/<%= movie['url'].split('=')[-1] %>" frameborder="0" allowfullscreen></iframe>

      <p class='movie_desc'><%= movie['description'] %> </p>
    </div>
    <div id='movie_options'>
      <p><small>Created on: <%= (movie['created_on']).t_format %>
        <% if movie['updated_on'] %></small></p>
        <br><p name='Updated'><small>Updated on: <%= (movie['updated_on']).t_format %>
        <% end %>
      </small></p>

      <div id='movie_buttons'>
        <form action='/edit/<%= movie['id'] %>' method='get'>
        <button class='btn btn-default'>Edit</button></form>
        <form action='/delete/<%= movie['id'] %>' method='post'>
        <button class='btn btn-danger'>Delete</button></form>
      </div>
    </div>
  </div>
  <% end %>
</div>