<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :reg_year %><br />
    <%= f.date_select :reg_year, discard_day: 'true', discard_month: 'true', start_year: Date.today.year - 50, end_year: Date.today.year %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price, min: 0.01, step: 0.01 %>
  </div>
  <div class="field">
    <%= f.label :mileage %><br />
    <%= f.number_field :mileage, min: 0, step: 1000 %>
  </div>
  <div class="field">
    <%= f.label :colour %><br />
    <%= f.text_field :colour %>
  </div>
  <div class="field">
    <%= f.label :gearbox %><br />
    <%= f.select :gearbox, %w[Manual Automatic] %>
  </div>
  <div class="field">
    <%= f.label :fuel %><br />
    <%= f.select :fuel, %w[Petrol Diesel LPG\ Autogas Biofuels] %>
  </div>
  <div class="field">
    <%= f.label :fuel_economy %><br />
    <%= f.number_field :fuel_economy, min: 1, max: 100, step: 1 %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.url_field :image %>
  </div>
  <div class="field">
    <%= f.label :number_doors %><br />
    <%= f.number_field :number_doors, max: 10, min: 1, step: 1 %>
  </div>
  <div class="field">
    <%= f.label :number_seats %><br />
    <%= f.number_field :number_seats, min: 1, step: 1  %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
