<%= form_for(@engine) do |f| %>
  
  <div class="field">
    <%= f.label :engine_size %><br />
    <%= f.number_field :engine_size, min: 0, step: 1, placeholder: 'cc' %>
  </div>
  <div class="field">
    <%= f.label :fuel_type %><br />
    <%= f.select :fuel_type, %w[Petrol Diesel LPG\ Autogas Biofuels] %>
  </div>
  <div class="field">
    <%= f.label :power %><br />
    <%= f.number_field :power, min: 0, step: 1, placeholder: 'BHP' %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>